@model Tuple<AppUser, bool>

<h1 class="display-5">
    @{
        var user = @Model.Item1;
        var userIsAdmin = @Model.Item2;


        if (user != null)
        {
            <strong>@user.FirstName @user.LastName,</strong>
            <br/>

            if (userIsAdmin)
            {
                <p>
                    <strong>You are an admin.</strong> You can access the admin pages.
                </p>
            }
        }
    }

    Welcome To<br />
    Kamran's Website
</h1>

<p>
    Welcome to <em>the</em> place for restaurant reviews, classifieds and secrets of success!
</p>

<p>
    To navigate in this website is easy. All you need to do is use the navigation menu at the 
    very top of each page. From there you can choose to view any page you like. Note that 
    while you can view anything, to post your own restaurant reviews, classified ads or secrets
    you <strong>must be a registered user</strong>. Also, do not try to go to any of the admin 
    pages!
</p>

<p>
    For a quick start click one of these three images below:
</p>

<div class="text-center" style="padding: 50px;">
    <p>
        <a asp-controller="RestaurantReview" asp-action="Index">
            <img src="images/restaurants.jpg" style="width: 85%;" />
        </a>
    </p>

    <p>
        <a asp-controller="Classified" asp-action="Index">
            <img src="images/classifieds.jpg" style="width: 85%;" />
        </a>
    </p>

    <p>
        <a asp-controller="SuccessSecret" asp-action="Index">
            <img src="images/secrets.jpg" style="width: 85%;" />
        </a>
    </p>
</div>
