<h1 class="display-5">Kamran's Website</h1>

<p>
    Welcome to <em>the</em> place for restaurant reviews, classifieds and secrets of success!
</p>

<p>
    To navigate in this website is easy. All you need to do is use the navigation menu at the very top of each page. From there you can choose to view any page you like.
</p>
