@model IEnumerable<Classified>

<h1>Classifieds</h1>

<table class="table">
    <thead>
    <tr class="table-success">
        <th>Item For Sale</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>

    @{
        foreach (var classified in Model)
        {
            <tr class="table-primary">
                <td>@classified.Item</td>
                <td>@classified.Text</td>
            </tr>
        }
    }

    </tbody>
</table>
