<h1 class="display-5 text-warning">Access Denied</h1>

<p>
    Yo! WTF? You are not allowed to access this page!
</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">Home Page</a>
